<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>2731628059-pls9co13dh06cfvsj14mkl1gbt339pt7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.2731628059-pls9co13dh06cfvsj14mkl1gbt339pt7</string>
	<key>API_KEY</key>
	<string>AIzaSyABd66G5moHSd-sYwZI8VSaxEkF1C5qDzg</string>
	<key>GCM_SENDER_ID</key>
	<string>2731628059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.indagram1</string>
	<key>PROJECT_ID</key>
	<string>midterm-indagram</string>
	<key>STORAGE_BUCKET</key>
	<string>midterm-indagram.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:2731628059:ios:b2590eabbb9da707170abe</string>
</dict>
</plist>